<p>employee-list works!</p>
<h2>Table Page</h2>
<table class="bordered-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact</th>
        <th>QA</th>
        <th>SSP</th>
        <th>IMPAI</th>
        <th>Operations</th>
        <th>BA</th>
        <th>HR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ formdata.id }}</td>
        <td>{{ formData.name }}</td>
        <td>{{ formData.contact }}</td>
        <td>{{ formData.QA }}</td>
        <td>{{ formData.SSP }}</td>
        <td>{{ formData.IMPAI }}</td>
        <td>{{ formData.Operations }}</td>
        <td>{{ formData.BA }}</td>
        <td>{{ formData.HR }}</td>
      </tr>
    </tbody>
</table>
